<div class="container form-container my-10 border p-3 bg-white">
  <h3>Book me</h3>
  <%= simple_form_for [@mascot, @booking] do |f| %>
    <%= f.input :date, html5: true, class: 'form-control' %>
    <%= f.submit "Click to confirm", class: "btn btn-primary" %>
  <% end %>
</div>
