<div class="container form-container my-10 border p-3">
  <h1>Book me</h1>
  <%= simple_form_for [@mascot, @booking] do |f| %>
    <%= f.input :date, html5: true, class: 'form-control' %>
    <%= f.submit "Click to confirm", class: "btn btn-primary" %>
  <% end %>
</div>
