<div class="container form-container my-10">
  <h1>When do you wanna book?</h1>
  <%= simple_form_for [@mascot, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.submit "Click for fuzzy fun", class: "btn btn-primary" %>
  <% end %>
</div>
