<div class="footer02">
  <ul class="menu">
    <li><a href="https://www.instagram.com/mondomascots/"><i class="fa-brands fa-instagram"></i></a></li>
    <li><%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
    <% end %></li>
    <li><a href="#"><i class="fa-solid fa-arrow-up"></i></a></li>
  </ul>
  <p class="copyright">
    &copy; KIGURUMI KINGDOM. Brought to you by Nanimiru Inc。Powered by Le Wagon
  </p>
</div>
