<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2022/08/FBOdUVsUcAYgkdz.jpg);">
  <div class="container">
    <h1>Kigurumi Kingdom is coming <strong>soon</strong>...</h1>
    <p>Meet up with your favourite mascots. Or find a new one!</p>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="btn btn-ghost">And many more!</div>
</div>
