<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2022/08/FBOdUVsUcAYgkdz.jpg);">
  <div class="container">
    <h1>Kigurumi Kingdom is coming <strong>soon</strong>...</h1>
    <p>Meet up with your favourite mascots. Or find a new one!</p>
  </div>
</div>
<br>
<div class="container my-8">
  <div class="cards">
    <% @mascots.each do |mascot| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= mascot.photo.attached? ? cl_image_path(mascot.photo.key) : 'https://mondomascots.com/wp-content/uploads/2023/01/image1-1.jpeg' %>)">
        <p> <%= link_to mascot.name, mascot_path(mascot), class: 'text-light text-decoration-none'%> </p>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <div class="h1">And many more!</div>
</div>
