<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <%= render "shared/banner" %>
</div>
<div class="container mt-3">
  <%= render "shared/carousel" %>
</div>

<div class="container text-center mt-4">
  <h3 class="mb-3"> 皆さん初めまして </h3>
  <p>We connect individuals with the colorful and charismatic mascots they love. We strive to create a community where fans and enthusiasts can easily discover, interact with, and learn more about these beloved characters through our user-friendly platform. Our ultimate goal is to create joy and cultural awareness by fostering meaningful connections between people and their favorite mascots.</p>
</div>
