<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2022/08/FBOdUVsUcAYgkdz.jpg);"> %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2022/08/FBOdUVsUcAYgkdz.jpg);">
        <h1>Kigurumi Kingdom is coming <strong>soon</strong>...</h1>
        <p>Meet up with your favourite mascots. Or find a new one!</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2019/12/D8c5EoGU8AMyLpq.jpg);">
        <h1>Kigurumi Kingdom is coming <strong>soon</strong>...</h1>
        <p>Meet up with your favourite mascots. Or find a new one!</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mondomascots.com/wp-content/uploads/2019/12/D5dhAJyXkAAafFd.jpg);">
        <h1>Kigurumi Kingdom is coming <strong>soon</strong>...</h1>
        <p>Meet up with your favourite mascots. Or find a new one!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-5">
</div>
</div>
<br>
<br>
<div class="container">
  <div class="btn btn-ghost">And many more!</div>
</div>
