.btn-ghost {
  color: white;
  background-color: #995D81;
  border: 1px solid #995D81;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: #F6C8B6;
}
