.btn-ghost {
  color: white;
  background-color: #F6079B;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost-s {
  color: white;
  background-color: #e774bb;
  padding: 8px 24px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: #f87397;
}

.btn-ghost-s:hover {
  background-color: #f87397;
}
