.footer02 {
  color: #808080;
  background:  #B2AADA;
  text-align: center;
  padding: 10px;
}

.footer02 a {
  color: #808080;
  text-decoration: none;
}

.footer02 a:hover {
  text-decoration: underline;
}

.footer02 .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer02 .menu li {
  margin: 0;
  padding: 0 20px;
}

.footer02 .copyright {
  margin: 0;
  padding: 20px 0 0 0;
}
